{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Your Tasks</h2>
    <a class="btn btn-success" href="{% url 'task_create' %}">Add Task</a>
    {% for task in tasks %}
    <div>
        <div class="card mt-3 me-3 mb-3" style="width: 90vw;">
            <h5 class="card-header">{{ task.title }}</h5>
            <div class="m-3">
                <p>{{ task.description|truncatechars:50 }}</p>
                <p>
                    <strong>Completed:</strong>
                    {% if task.completed %}Yes{% else %}No{% endif %}
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-outline-primary" href="{% url 'task_detail' task.pk %}">
                        Read more
                    </a>
                    <a class="btn btn-outline-danger" href="{% url 'task_delete' task.pk %}">
                        Delete task
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <h4 class="mt-3">No tasks yet.</h4>
    <!-- <a href="{% url 'task_create' %}">Add Task</a> -->
    {% endfor %}
</div>
{% endblock %}